.user {

    .card {
        .wallpaper {
            // max-height:200px;
            max-height:200px;
            overflow: hidden;
        }
        .avatar {
            width: 124px;
            height: 124px;
            border: 5px solid #FFFFFF;
            position: relative;
            margin-bottom: 15px;
        }
        
        .profile-body {
            position: relative;
            margin-top: -75px;
        }

        .card-footer > i {
            padding:0 10px;
        }

        .title {
            margin-top:30px 0;
            color:rgba($color: #000000, $alpha: 0.2);
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
    
}